<nav>
  <button mat-raised-button *ngIf="!loadedFiles.length" class="preload" color="primary" (click)="loadFolder()">Find the m5out Folder</button>
  <span *ngFor="let file of loadedFiles">
    <button mat-raised-button color="primary" (click)="openFileViewer(file)">{{file.name}}</button>
  </span>
</nav>

<div *ngIf="!loadedFiles.length" class="preload">
  <h1>Welcome to the Gem5 m5Out Viewer</h1>
  <h2>Select the output folder below and a rich view will be presented</h2>
</div>

<main>
  <img class="config" [src]="configSvg" *ngIf="configSvg" (click)="openConfigViewer()" />

  <recursive-accordion [statsPanel]="statsPanel" [stats]="stats"></recursive-accordion>
</main>

<dialog #fileviewer>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <h1>{{fileViewer.filename}}</h1>
  <code>
    {{fileViewer.contents}}
  </code>
</dialog>

<dialog #configviewer>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <h1>config.dot.svg</h1>
  <img [src]="configSvg" />
</dialog>

<dialog #sysviewer>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <h1>config.json</h1>
</dialog>
